/**********************************
 Practica 0202
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/* reinicio márgenes */
* { margin: 0px; padding: 0px }

body
{
	background: white;
    font-size: 1em;     /* punto de partida de las fuentes */
    font-family: 'Poppins', sans-serif;
}

/* reduzco los avatares del usuario a 40px */
img[src*='user_'] 
{ 
    width: 30px
}

/* Permite que los elementos float de un contenedor no se salgan */
.clearfix:after
{
    content: ".";
    visibility: hidden;
    height: 0px;
    display: block;
    clear: both;
}

/* clase que limpia por ambos lados */
.clear 
{
    clear: both;
}

/* centra verticalmente con un contenedor flex */
.vcenter {
    display: flex;
    align-items: center;
}

/* Elementos apoyados a la derecha */
.rightmost 
{
    float:right;
}

/* Elementos apoyados a la izquierda */
.leftmost 
{
    float:left;
}

/*----- HEADER ------*/

/* header principal */
#header {
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);     /* gradiente */
    
    padding: 10px; 
    
    font-size: 0.9rem;
}

/* párrafos en header */
#header p { 
    display: inline-block;
}

/* imagenes del header */
#header img { 
    width: 35px;
    margin-right: 12px;
}


/*----- PAGINA ------*/

/* Que la página no ocpue todo el ancho */
#page {
    margin: 2%;
}

/* Cebecera nivel 1 */
h1 {
    font-size: 2.4rem;
    font-family: 'Droid+Sans', sans-serif;
}

/* contenido principal de la página */
#content {
    margin: 10px 0px 0px 330px;
    overflow: hidden;           /* para inicializar el contexto */
}

/*------ POSTIT LATERALES -----*/

/* cuerpo principal del postit */
.postit 
{
    width: 300px;
    background: rgb(209,209,209);
    margin: 10px 0px;
    padding: 10px;
    clear: left;
}

/* cabeceras dentro de postit */
.postit > h4 
{
    text-transform: uppercase;
    color: gray;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* listas */
li 
{
    list-style: none;
    padding-left: 20px;
    font-size: 0.8rem;
}

/* párrafos hijos de listas */
li > p 
{
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 10px;
}

/*-------- MENSAJES ----------*/

/* Bloque de mensajes */
#messages 
{
    clear: both;
}

/* Mensaje */
.message
{
    background: rgb(0,190,210);
    margin: 20px 0;
}

/* Pie de mensaje */
.message_footer 
{
    text-align: right;
}

/* Cabecera de mensaje */
.message_header
{
    margin-bottom: 10px;
}

/* imagen del usuario en la cabecera */
.message_header > img 
{
    margin-right: 10px
}

/* Cuerpo de mensaje */
.message_body {
    margin: 5px 10px;
}

/* Mensaje tipo contestación */
.answer 
{
    margin-left:50px;
}

/* texto que indica los datos de publicacion */
.published 
{
    font-style: italic;
}

/* pie de pagina */
#footer
{
    font-family: 'Arial', sans-serif;
	clear: both;
	font-size: 0.9rem;
	color: silver;
	text-align: center;
	padding: 15px 0px;
    margin-bottom: 30px;
}
